<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hml.mall.mapper.trade.WareAttrApplyMapper">
<select id="selectWareAttr" parameterType="com.hml.mall.entity.trade.WareApply" resultType="com.hml.mall.entity.trade.WareAttr">
	 	select t1.cno,t1.attr_key,t1.attr_name,t2.wareno,t2.attr_val from tb_jy_wareclass_attrcol t1
		left join tb_jy_ware_attr_apply t2 on t1.cno =t2.cno  and t2.waterid =#{waterid}
		where t1.cno =#{cno}
	 </select>
	 
	 <insert id="saveWareAttr" parameterType="com.hml.mall.entity.trade.WareApply">
	 	insert into tb_jy_ware_attr(WARENO,ATTR_KEY,CNO,ATTR_NAME,ATTR_VAL)
	 	select WARENO,ATTR_KEY,CNO,ATTR_NAME,ATTR_VAL from tb_jy_ware_attr_apply
	 	where wareno = #{wareno}
	 </insert>
	 
	 <update id="updateWareAttr" parameterType="com.hml.mall.entity.trade.WareApply">
	 	update tb_jy_ware_attr_apply set wareno =#{wareno} where waterid = #{waterid}
	 </update>
</mapper>
