<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hml.mall.mapper.reward.OrgTotalMapper">

<select id="findOrgTotal" parameterType="java.util.Map" resultType="java.util.Map">
	SELECT T1.*,T2.UNO1 AS USERNO1 ,T2.UNO2 AS USERNO2,T2.UNO3 AS USERNO3 FROM  (
		SELECT FDATE,USERNO,SUM(COMM) AS COMM,SUM(PRICE) AS PRICE,SUM(LOSS) AS LOSS FROM tb_jy_order
		where BUYORSAL  ='B'
			<if test="btime != null and btime != ''">
				and ordtime &gt;= #{btime}
			</if>
			<if test="etime != null and etime != ''">
				and ordtime &lt;= #{etime}
			</if>
		GROUP BY FDATE,USERNO
	) T1 
	LEFT JOIN tb_hy_user_relation T2 ON T1.USERNO = T2.USERNO 
	UNION ALL 
	SELECT T1.*,T1.USERNO AS USERNO1 ,T1.USERNO AS USERNO2,T1.USERNO AS USERNO3 FROM  (
		SELECT FDATE,USERNO,SUM(COMM) AS COMM,SUM(PRICE) AS PRICE,SUM(LOSS) AS LOSS FROM tb_jy_order
		where BUYORSAL  ='B'
			<if test="btime != null and btime != ''">
				and ordtime &gt;= #{btime}
			</if>
			<if test="etime != null and etime != ''">
				and ordtime &lt;= #{etime}
			</if>
			and userno in (select userno from tb_hy_user where openid = '' and usertype = 1 )
			<!--and userno in (select openid from tb_hy_user where openid != ''  group by openid )-->
		GROUP BY FDATE,USERNO
	) T1 
</select>
<select id="findOrgTotalSelf" parameterType="java.util.Map" resultType="java.util.Map">
	SELECT T1.*,T1.USERNO AS USERNO1 ,T1.USERNO AS USERNO2,T1.USERNO AS USERNO3 FROM  (
		SELECT FDATE,USERNO,SUM(COMM) AS COMM,SUM(PRICE) AS PRICE,SUM(LOSS) AS LOSS FROM tb_jy_order
		where BUYORSAL  ='B'
			<if test="btime != null and btime != ''">
				and ordtime &gt;= #{btime}
			</if>
			<if test="etime != null and etime != ''">
				and ordtime &lt;= #{etime}
			</if>
			and userno in (select userno from tb_hy_user where openid = '' )
			and userno in (select openid from tb_hy_user where openid != ''  group by openid )
		GROUP BY FDATE,USERNO
	) T1 
</select>

<insert id="saveTotal" parameterType="java.lang.String">
		
		
	</insert>
</mapper>
